{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "none",
  "overrides": [
    {
      "files": "*.yaml",
      "options": { "singleQuote": false }
    },
    {
      "files": "*.yml",
      "options": { "singleQuote": false }
    }
  ]
}
